@media(max-width: 1680px) {
  .header__navigation>ul {
    width: 100%;
  }

  .header__message_action_slide {
    width: 50%;
    left: 5%;
  }

  .header-swiper-container .swiper-pagination {
    padding-left: 5%;
  }
}

@media(max-width: 1400px) {
  .section_title_h2 {
    font-size: 40px;
  }

  .section_title_h3 {
    font-size: 26px;
  }

  .section_paragraph {
    font-size: 19px;
  }

  .section_link {
    font-size: 19px;
  }
}


@media(max-width: 1320px) {
  .header__navigation a {
    font-size: 20px;
  }
}

@media(max-width: 1200px) {
  .header_container>.row {
    padding-top: 65px;
  }

  .header_container .row {
    justify-content: center;
  }

  .header_options_block {
    right: 50%;
    transform: translate(50%, 0);
    justify-content: center;
  }

  .header-swiper-container {
    top: -2%;
  }

  .header__message_action_slide {
    width: 55%;
    left: 3%;
  }

  .section_title_h2 {
    font-size: 36px;
  }

  .section_title_h3 {
    font-size: 24px;
  }

  .section_paragraph {
    font-size: 16px;
  }

  .section_link {
    font-size: 16px;
  }

  .section_about{
    padding-bottom: 70px;
  }

  .footer_column_list_w-100{
    width: 100% !important;
  }
}

@media(max-width: 1080px) {

  .header-swiper-container .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__message_action_slide {
    position: relative;
    left: 0;
    width: 80%;
    margin: 50px auto;
  }

  .section_title_h2 {
    font-size: 40px;
  }

  .section_title_h3 {
    font-size: 26px;
  }

  .section_paragraph {
    font-size: 19px;
  }

  .section_link {
    font-size: 19px;
  }

  .header-swiper-container .swiper-pagination {
    bottom: 50%;
  }
}

@media(max-width: 991px) {
  .footer_column_list_w-100{
    width: 50% !important;
  }
}

@media(max-width: 1010px) {
  .header-swiper-container .swiper-pagination {
    bottom: 55%;
  }
}

@media(max-width: 820px) {
  .section_title_h2 {
    font-size: 36px;
  }

  .section_title_h3 {
    font-size: 24px;
  }

  .section_paragraph {
    font-size: 16px;
  }

  .section_link {
    font-size: 16px;
  }
}

@media(max-width: 784px) {
  .options__links {
    width: 27%;
  }
}

@media(max-width: 768px) {
  .header_options_block {
    max-width: 100%;
    top: -5px;
  }

  .header__navigation {
    padding-top: 25px;
  }

  .options__link {
    width: 36%;
  }

  .options__links {
    width: 30%;
  }

  .options__languages a {
    width: 48%;
  }

  .options__you_are_here p {
    font-size: 14px;
  }

  .options__you_are_here select {
    font-size: 14px;
  }

  .options__you_are_here:after {
    right: 6px;
    font-size: 14px;
  }

  .header_options_block .options__you_are_here {
    padding-top: 10px;
  }

  .header-swiper-container .swiper-pagination {
    bottom: 60%;
  }

}

@media(max-width: 760px) {
  .options__links {
    width: 32%;
  }

  .header_options_block .options__you_are_here {
    padding-top: 15px;
  }
}

@media(max-width: 720px) {
  .options__links {
    width: 35%;
  }

  .header__navigation>ul {
    flex-wrap: wrap;
  }

  .header__navigation>ul>li {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media(max-width: 690px) {
  .header_container>.row {
    padding-top: 100px;
  }

  .header_options_block {
    max-width: 80%;
    flex-direction: column-reverse;
  }

  .header_options_block .options__you_are_here {
    width: 100%;
    padding-top: 5px;
  }

  .options__you_are_here p {
    width: 20%;
  }

  .options__you_are_here select {
    width: 80%;
  }

  .options__links {
    width: 50%;
    justify-content: center;
  }

  .options__link a {
    margin-left: auto;
  }

  .header_options_block .options__languages {
    justify-content: flex-start;
  }

  .options__languages a {
    width: 40%;
  }
}

@media(max-width: 660px) {
  .header__message_action_slide {
    width: 95%;
  }

  .header__message_action_slide__content {
    padding: 15px;
  }

  .section_title_h2 {
    font-size: 30px;
  }

  .section_title_h3 {
    font-size: 21px;
  }

  .header-swiper-container .swiper-pagination {
    bottom: 65%;
  }
}

@media(max-width: 576px) {
  .options__links {
    width: 60%;
    margin-top: 5px;
  }

  .options__link {
    width: 50%;
  }

  .options__languages a {
    width: 35%;
  }
}

@media(max-width: 536px) {
  .options__you_are_here p {
    width: 25%;
  }

  .options__you_are_here select {
    width: 75%;
  }

  .options__links {
    width: 80%;
  }

  .options__you_are_here:after {
    padding: 7.5px 8px;
    font-size: 11px;
  }

  .header__message_action_slide{
    width: 90%;
  }

  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
  }

}

@media(max-width: 490px){
  .header-swiper-container .swiper-pagination{
    bottom: 70%;
  }
}

@media(max-width: 460px){
  .header-swiper-container .swiper-pagination{
    bottom: 75%;
  }
}

@media(max-width: 440px) {

  header .logo,
  header .logo_actions_block {
    max-width: 50%;
    flex: 0 0 50%;
  }

  header .counterparty_logo {
    max-width: 60%;
    flex: 0 0 60%;
    margin-top: 15px;
  }

  .options__you_are_here select {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg,
        rgba(255, 255, 255, 1) 87%,
        rgba(0, 212, 255, 0) 87%);
    background: -webkit-linear-gradient(90deg,
        rgba(255, 255, 255, 1) 87%,
        rgba(0, 212, 255, 0) 87%);
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 1) 87%,
        rgba(0, 212, 255, 0) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#00d4ff", GradientType=1);
  }
}



@media(max-width: 380px){
  .header-swiper-container .swiper-pagination{
    bottom: 80%;
  }
}